# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Env
.env
.env.local
*.local

# Node / Next
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build / misc
dist/
build/
.DS_Store
*.log

# DB
*.sqlite3
postgres-data/
